:root {
  
  --NAV_MARG: 12px;
  --color1: #fdfdf8;
  --color2: #d8d5db;
  --color3: #62B8E7;
  --color4: #9eb2d5;
  --color5: #18AAE1;
  --color6: #000000;
  --color7: #FEC715;
  --backcolor: #d7dae7;
}

body {
  background-color: var(--backcolor);
}

.centered {
  text-align: center;
}

.navbar {  
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  background-color: var(--color3);
  overflow: auto;
}

/* Navigation links */
.navbar a {
  font-family: Verdana, sans-serif;
  float: left;
  padding: var(--NAV_MARG) 0px;
  color: var(--color6);
  text-decoration: none;
  font-size: 24px;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: var(--color4);
    color: var(--color7);
  }
  

  /* Style the current/active link */
.navbar a.active {
    background-color:var(--color5);
    color: var(--color7);
  }
  

@media screen and (max-width: 600px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: center; /* If you want the text to be left-aligned on small screens */
    }
  }

.MainTitle {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 40px;
  color: #f8ff77;
}

.SmallArial{
  margin-top: 50px;
  font-family:Helvetica, sans-serif;
  font-size: 20px;
}

.main {
    padding: 16px;
    margin-top: var(--NAV_MARG);
    height: 1500px; /* Used in this example to enable scrolling */
  }

  @media screen and (max-width: 600px) {
    .main{
     margin-top: calc(12*var(--NAV_MARG));
    }
  }





  